* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    overflow: hidden;
    background-color: #ffe4e4;
    animation: changeColor 3s infinite;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 40vh;
    width: 40vw;
    background-color: rgba(255, 108, 177, 0.61);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    padding: 20px;
    margin: auto;
    opacity: 0.9;
  }
.container:hover {
    transform: scale(1.02);
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #fff;
}

button {
    background-color: #ff6666;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

button:hover {
    background-color: #ff4d4d;
}

#resultado {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
}

@keyframes changeColor {
    0% {
        background-color: #ff6666;
    }

    50% {
        background-color: #ff9999;
    }

    100% {
        background-color: #ff3333;
    }
}
